.page_body .btn{

	border-radius:0;

	color:#fff;

	padding:7px 30px;

	margin:3px;

}

.page_body .btn:hover,.btn:focus{

	color:#fff;

}

.page_body .btn.btn_theme{

	background-color:#1b3f95;

}

.page_body .btn.btn_default{

	background-color:#777;

}

.page_body .btn.btn_dark{

	background-color:#323232;

}

@media( max-width:768px ){

	.page_body .btn {

		width:265px;

		margin: 5px auto;

		display:block;

	}

}