.form{

	border-top:3px solid #1b3f95;

	border-bottom:1px solid #aaa;

}

.form .detail.fail{

	font-size:.8rem;

	color:red;

	margin-bottom:15px;

}

.form .form_row{

	display:block;

	width:100%;

	line-height:60px;

	border-bottom:1px solid #ddd;

	font-size:.95rem;

}

.form .form_row .form_label{

	width:110px;

	height:60px;

	padding-left:30px;

	margin:0;

}

.form .form_row>.form_left,.form .form_row>.form_right,.form .form_row .show_input_count{

	float:left;

}

.form .form_row>.bigger{

	width:710px;

}

.form .form_row>.small{

	width:300px;

}

.form .form_row>.maximal{

	width:calc( 100% - 110px );

}

.form .form_row .form-control{

	margin-top:13px;

	margin-bottom:13px;

	height:34px;

	border-radius:0;

}

.form .form_row .form-control input{

	line-height:normal;

}

.form .form_row textarea.form-control{

	height:150px;

}

.form .form_row .form-control.original_format{

	height:auto;

	line-height:1.5;

}

.form .form_row .form-control.fail{

	border-color:red;

}

.form .form_row textarea.form-control{

	height:200px;

	line-height:1.5;

}

.form .form_row .show_input_count{

	padding-left:5px;

	color:#5a5a5a;

}

@media( max-width:991px ){

	.form .form_row>.bigger,.form .form_row>.small{

		width:calc( 100% - 110px );

	}

	.form .form_row .show_input_count{

		display:none;

	}

}

@media( max-width:768px ){

	.form .form_row>.bigger,.form .form_row>.small{

		width:calc( 100% - 110px );

	}

	.form .form_row>.form_left,.form .form_row>.form_right{

		width:100%;

		text-align:center;

	}

	.form .form_row .form_label{

		padding-left:0;

	}

}