.icon_block{

	margin-bottom:50px;

	white-space:nowrap;

}

.icon_left,.icon_right,.icon_main{

	float:left;

}

.icon_left,.icon_right{

	width:calc( 50% - 157px );

}

.icon_left .icon_block .icon{

	margin-left:15px;

	padding-top:5px;

	width:60px;

}

.icon_right .icon_block .icon{

	margin-right:15px;

	padding-top:5px;

	width:60px;

}

.icon_left .icon_block .detail.detail_01,.icon_right .icon_block .detail.detail_01{

	line-height:normal;

}

.icon_left .icon_block .detail.detail_02,.icon_right .icon_block .detail.detail_02{

	font-weight:300;

	color:#4f4f4f;

	line-height:1.5;

}

@media( max-width:1220px ) and  ( min-width:992px ){

	.icon_left,.icon_right{

		width:50%;

	}

	.icon_left{

		padding-right:15px;

	}

	.icon_right{

		padding-left:15px;

	}

	.icon_main{

		display:none;

	}

}

@media( max-width:991px ){

	.icon_main{

		float:none;

	}

	.icon_left .icon_block .float_right{

		float:left;

	}

	.icon_left .icon_block .icon{

		margin-right:15px;

		margin-left:0;

	}

	.icon_left .icon_block .detail{

		text-align:left;

	}

	.icon_left,.icon_right{

		overflow:hidden;

		float:none;

		width:500px;

		margin:auto;

	}

}

@media( min-width:769px ){

	.icon_left .icon_block>.detail,.icon_right .icon_block>.detail{

		width:calc( 100% - 75px );

	}

}

@media(max-width:768px){

	.icon_left, .icon_right{

		width:100%;

		text-align:center;

	}

	.icon_left .icon_block .icon,.icon_right .icon_block .icon{

		width:100%;

	}

	.icon_left .icon_block .detail,.icon_right .icon_block .detail{

		text-align:center;

		width:100%;

		margin-top:15px;

		white-space: normal;

	}

	.icon_left .icon_block .detail br,.icon_right .icon_block .detail br{

		display:none;

	}

}